.navbar {
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--color-bg-highlight);
  border-bottom: 1px solid var(--color-border-light);

  padding: 0 2rem;
}

.navbar .current-document {
  display: flex;
  align-items: center;

  gap: 2rem;
}

.navbar .current-document span {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.navbar .current-document button {
  height: 2rem;
  width: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: red;
  color: white;
  border: none;
  border-radius: 0.3rem;

  cursor: pointer;
}

.navbar .current-document button:hover {
  background: rgb(206, 0, 0);
}

.navbar .document-actions button {
  display: flex;
  align-items: center;

  border: none;
  border-radius: 0.2rem;
  color: white;

  gap: 0.5rem;
  padding: 0.3rem;

  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.navbar .download {
  background: var(--color-orange);
}
.navbar .download:hover {
  background: var(--color-orange-hover);
}

.navbar .document-actions {
  display: flex;
  align-items: center;

  gap: 1rem;
}
