.sidebar {
  width: 15rem;
  height: 100%;

  background: var(--color-bg-muted);

  padding: 1.5rem;

  overflow: hidden;
  transition: width 0.3s ease, padding 0.3s ease;
}

.sidebar.collapsed {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}

.sidebar .header,
.sidebar .new-document-button,
.documents-list .document {
  flex-shrink: 0;
  min-width: 12rem;
  max-width: 12rem;
}

.sidebar .header {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;

  width: 100%;

  text-transform: uppercase;
}

.sidebar .new-document-button {
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.3rem;
  border: none;
  background: var(--color-orange);
  color: white;

  padding: 0.75rem;
  margin: 1rem auto;

  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
}

.sidebar .new-document-button:hover {
  background: var(--color-orange-hover);
}

.documents-list {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.documents-list .document {
  display: flex;
  align-items: center;

  width: 100%;

  gap: 1rem;
  padding: 0.2rem;

  cursor: pointer;
}

.documents-list .document:hover {
  background: var(--color-bg-light);
}

.documents-list .document.selected {
  background: var(--color-orange-light);
}

.documents-list .document .document-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.documents-list .document .document-creation {
  font-size: 0.9rem;
  opacity: 0.8;
}

.documents-list .document .document-name {
  font-weight: 500;
}

.new-document-form {
  display: flex;
  align-items: center;

  width: 100%;

  margin-top: 1rem;
}

.new-document-form input {
}

.new-document-form button {
}
